<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="GET,HEAD,POST,PUT,PATCH,DELETE,OPTIONS" modules="AspNetCoreModuleV2" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
      <security>
        <requestFiltering>
          <verbs allowUnlisted="true">
            <add verb="GET" allowed="true" />
            <add verb="POST" allowed="true" />
            <add verb="OPTIONS" allowed="true" />
            <add verb="HEAD" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="PATCH" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
      <aspNetCore processPath="dotnet"
                  arguments=".\backend.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
